.pricesection {
  margin: 50px auto;
}
.pricetitle {
  margin: 20px auto;
  padding-top: 20px;
  text-transform: capitalize;
  width: fit-content;
  font-size: 1.5em;
}
.pricecont {
  display: flex;
  justify-content: space-around;
  height: 500px;
  padding: 50px;
}
.pricebox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #999;
  border-radius: 5px;
  width: 25%;
}
.boxtitle {
  font-size: 1.2em;
  text-align: center;
  margin: 5px;
  transition: color 0.8s;
}
.sale {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 10px;
  border: 1px solid rgb(58, 148, 207);
  border-radius: 50%;
  font-size: 30px;
  transition: color 0.5s, background-color 0.5s;
}
.sale p {
  text-align: center;
  padding: 10px;
  font-size: 15px;
}
.list {
  text-align: center;
  list-style: none;
}
.list li {
  text-transform: capitalize;
  margin: 5px auto;
  font-size: 18px;
}
.pricebtn {
  width: 60%;
  height: 10%;
  text-align: center;
  margin: 0 auto;
  border: 1px solid rgb(58, 148, 207);
  color: rgb(58, 148, 207);
  background-color: #fff;
  text-transform: capitalize;
  line-height: 10px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.pricebox:hover .pricebtn,
.pricebox:hover .sale {
  background-color: rgb(58, 148, 207);
  color: #fff;
}
.pricebox:hover .boxtitle {
  color: #fff;
}
