.testsection {
  background-image: url("/images/background/background3.webp");
  background-size: cover;
  background-attachment: fixed;
  height: 250px;
  position: relative;
}
.testlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.testboxes {
  height: 80%;
  margin: 3% auto;
  display: flex;
  justify-content: space-around;
}
.testbox {
  width: 40%;
}
.testbox img {
  border-radius: 50%;
}
.ttb {
  display: flex;
}
.ttb h5 {
  margin: 15px;
}
